*{
  margin: 0;
  padding: 0;
  text-decoration: none;
  color: inherit;

}

body{
  background: #fcc
}

@media screen and (min-width: 500px)
{

  body
	{
		font-family: 'lucida grande' , tahona, vandana arian, sans-serif;
		width:99%;
		margin:auto;

	}
}
@media screen and (min-width: 1000px)
{
  body
  {
    background: #ccf;
	background-image: url("../images/background.png");
   

  };



}




#apDiv1 {
	position:absolute;
	width:799px;
	height:83px;
	z-index:1;
	left: 301px;
	top: 16px;
}
#apDiv2 {
	position:absolute;
	width:202px;
	height:59px;
	z-index:2;
	left: 49px;
	top: 103px;
}

#apDiv3 {
	position:absolute;
	width:142px;
	height:55px;
	z-index:2;
	left: 132px;
	top: 116px;
}
#apDiv4 {
	position:absolute;
	width:200px;
	height:59px;
	z-index:3;
	left: 288px;
	top: 113px;
}
#apDiv5 {
	position:absolute;
	width:204px;
	height:58px;
	z-index:4;
	left: 538px;
	top: 113px;
}
#apDiv6 {
	position:absolute;
	width:180px;
	height:60px;
	z-index:5;
	left: 768px;
	top: 112px;
}
#apDiv7 {
	position:absolute;
	width:200px;
	height:59px;
	z-index:6;
	left: 970px;
	top: 112px;
}
#apDiv8 {
	position:absolute;
	width:291px;
	height:141px;
	z-index:7;
	left: 1200px;
	top: 112px;
}
#apDiv9 {
	position:absolute;
	width:141px;
	height:105px;
	z-index:7;
	left: 98px;
	top: 6px;
}
#apDiv10 {
	position:absolute;
	width:1123px;
	height:223px;
	z-index:8;
	left: 95px;
	top: 214px;
}
.style2 
{
	color: #FFFFFF;
	font-size: 25px;
}
.style3 {
	color: #FFFFFF;
	font-size: 30px;
}
#apDiv11 {
	position:absolute;
	width:527px;
	height:295px;
	z-index:9;
	left: -26px;
	top: 313px;
}
#apDiv12 {
	position:absolute;
	width:552px;
	height:58px;
	z-index:9;
	left: 59px;
	top: 449px;
}
.style4 
{
	font-size: 24px;
	top: 250px;
	position: absolute;
}
.style5 {
	color: #990000
}